/** @format */

body {
  background-color: #f5f5f5; /* Grey white */
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner {
  /* margin: 15px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border-radius: 30px;
  transition: transform 0.3s; /* smooth transform */
}

.banner img {
  width: 100%;
  max-width: 2712px;
  height: auto;
  display: block;
}

.banner:active img {
  opacity: 0.7; /* Half transparent */
}

.banner:hover {
  transform: scale(1.02); /* scale the element */
}

@media screen and (max-width: 768px) {
  .banner img {
    max-width: 100%;
  }
}

.title {
  display: flex;
}

header,
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .logo {
  float: left;
  max-width: 100px; /* Adjust based on your logo size */
  height: auto;
  margin-right: 30px;
}

header .title {
  margin: 0;
  line-height: 100px; /* Adjust based on your logo height */
}
